.app {
    display: flex;
}

.page {
    width: calc(100% - 60px);
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 36px;
}

.container {
    width: 100%;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    gap: 36px;
}

.container.contact-page,
.container.about-page {
    width: 50%;
    display: flex;

    .text-zone {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 24px;

        h1 {
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffd700;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
        }

        p {
            font-size: 18px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }
    }

    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
}

.container.about-page {
    width: 100%;
    display: flex;

    .text-zone,
    .stage-cube-cont {
        width: 50%;
    }
}

@media (max-width: 1260px) {
    .home-page {
        grid-template-columns: unset;

        .photo-container {
            justify-self: center;
            margin: 0;
        }
    }

    h1 {
        max-width: 325px;
    }
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;

        .nav-bar {
            width: 100vw;
            height: 60px;
            flex-direction: initial;

            .logo {
                margin-left: 16px;
                display: flex;
                align-items: center;

                img {
                    margin: 0;
                }
            }

            nav {
                display: flex;

                a {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    width: 50px;
                    justify-content: center;

                    &::after {
                        top: 5px;
                    }
                }
            }

            ul {
                width: initial;
                display: flex;
                align-items: center;
                gap: 16px;
                margin-right: 16px;

                li {
                    display: inline-block;
                }
            }
        }

        .page {
            width: calc(100% - 32px);
            padding: 0 16px;
        }

        .home-page {
            grid-template-columns: unset;
            grid-template-rows: 45% 55%;

            .text-zone {
                padding: 0;
                align-self: end;
                justify-self: center;
                margin: 0;
            }

            .photo {
                max-width: 400px;
                align-self: start;
                justify-self: center;
            }
        }

        .about-page {
            flex-direction: column;
            height: 100%;
        }

        .text-zone {
            width: 100%;
        }
    }
}