.photo {
    position: relative;
    overflow: hidden;
    margin: 7px;
    padding: 6px;
    min-width: 230px;
    max-width: 600px;
    width: 90%;
    box-shadow: none !important;
    transform: translateZ(0);
    box-sizing: padding-box;
    height: fit-content;
    align-self: center;
    justify-self: center;
}

.photo img {
    max-width: 100%;
    vertical-align: top;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.photo .border {
    position: absolute;
    opacity: 0.45;
}

.photo .border:before,
.photo .border:after,
.photo .border div:before,
.photo .border div:after {
    background-color: #f5b043;
    position: absolute;
    content: "";
    display: block;
    transition: all 0.4s ease-in-out;
}

.photo .border:before,
.photo .border:after {
    width: 0;
    height: 2px;
}

.photo .border div:before,
.photo .border div:after {
    width: 2px;
    height: 0;
}

.photo .border.one {
    left: 0;
    top: 0;
    right: 12px;
    bottom: 12px;
}

.photo .border.one:before,
.photo .border.one div:before {
    left: 0;
    top: 0;
}

.photo .border.one:after,
.photo .border.one div:after {
    bottom: 0;
    right: 0;
}

.photo .border.two {
    left: 12px;
    top: 12px;
    right: 0;
    bottom: 0;
}

.photo .border.two:before,
.photo .border.two div:before {
    right: 0;
    top: 0;
}

.photo .border.two:after,
.photo .border.two div:after {
    bottom: 0;
    left: 0;
}

.photo a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.photo:hover .border:before,
.photo.hover .border:before,
.photo:hover .border:after,
.photo.hover .border:after {
    width: 100%;
}

.photo:hover .border div:before,
.photo.hover .border div:before,
.photo:hover .border div:after,
.photo.hover .border div:after {
    height: 100%;
}