.home-page {
    .text-zone {
        max-width: max-content;
        align-self: center;
        justify-self: center;
        width: 575px;
    }

    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 42px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
            margin-bottom: -6px;
            margin-right: -3px;
        }
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        transition: ease-out 0.3s;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}

@media (max-width: 1260px) {
    .home-page {
        grid-template-columns: unset;
        grid-template-rows: 45% 55%;

        .text-zone {
            align-self: end;
            justify-self: center;
        }

        .photo-container {
            justify-self: center;
            margin: 0;
        }
    }

    h1 {
        max-width: 330px;
    }
}